auto/
*.aux
*.blg
*.el
*.idx
*.idl
*.ilg
*.ind
*.log
*.out
*.png
*.pdf
*.toc
*.rel
course_overview.tex
book-sources/ans.tex
book-sources/hint.tex
book-sources/*.pytxcode
book-sources/.textidote
book-sources/mydict.txt
book-sources/README.org
book-sources/pythontex-files*
extra_material/
progs/
slides/sources/*.tex
_minted*/
