auto/
*.aux
*.blg
*.el
*.idx
*.idl
*.ilg
*.ind
*.log
*.out
*.png
*.pdf
*.rel
*.toc
tex_files/ans.tex
tex_files/hint.tex
tex_files/*.pytxcode
tex_files/.textidote
tex_files/mydict.txt
tex_files/README.org
tex_files/pythontex-files*
extra_material/
notebooks/
progs/
_minted*/
